.header {
    background-color: rgb(250, 235, 215);
    padding: 20px;
}
.header a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: inherit;
    padding-bottom: inherit;
    color: black;
    text-decoration: none;
}

.body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.body .menu {
    grid-column: 1 / 2;
}
.body .content {
    grid-column: 2 / 13;
}
a::selection {
    color: #FFF;
}
.deactive-header-link {
    opacity: 0.5;

}
.active-header-link {
    opacity: 1;
    background-color:  rgb(250, 235, 150);
}